@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "kano";
  src: url("../assets/font/Kano.otf");
}


@layer components {
.resume_btn,
.resume_btn:link,
.resume_btn:visited {
  @apply text-[#FB2576] text-[1.3rem] tracking-widest uppercase min-w-[100px] max-w-[60%] relative transition-all duration-[0.2s] ease-[cubic-bezier(0.455,0.03,0.515,0.955)] mx-auto my-0 border-2 border-solid border-transparent;
}
.resume_btn:after,
.resume_btn:before,
.resume_btn:link:after,
.resume_btn:link:before,
.resume_btn:visited:after,
.resume_btn:visited:before {
  @apply content-[""] absolute left-[-1em] h-[2.25rem] w-0 border transition-[inherit] border-solid border-[#FB2576] -top-0.5;
}
.resume_btn:after,
.resume_btn:link:after,
.resume_btn:visited:after {
  @apply right-[-1em] left-auto;
}
.resume_btn:hover,
.resume_btn:link:hover,
.resume_btn:visited:hover {
  @apply border-[#FB2576];
  transition: border-color 0.2s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.resume_btn:hover:after,
.resume_btn:hover:before,
.resume_btn:link:hover:after,
.resume_btn:link:hover:before,
.resume_btn:visited:hover:after,
.resume_btn:visited:hover:before {
  @apply transition-all duration-[0.2s] ease-[cubic-bezier(0.455,0.03,0.515,0.955)] -right-0.5;
}
.resume_btn:hover:before,
.resume_btn:link:hover:before,
.resume_btn:visited:hover:before {
  @apply -left-0.5 right-auto;
}

#menuToggle {
  @apply relative z-[1] select-none;
  -webkit-user-select: none;
}

#menuToggle span {
  @apply block w-[33px] h-1 relative z-[1] origin-[4px_0px] mb-[5px] rounded-[3px] bg-primary;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle input {
  @apply block w-full h-full absolute cursor-pointer opacity-0 z-[2];
  /* hide this */
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
#menuToggle input:checked ~ span {
  @apply bg-slate-100;
}

#menuToggle input:checked ~ span {
  @apply opacity-100 rotate-45 translate-x-0.5 -translate-y-px;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  @apply opacity-0 rotate-0 scale-[0.2];
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  @apply -rotate-45 translate-x-0 -translate-y-px;
}

#menu {
  @apply absolute w-[300px] mt-[-100px] ml-[-150px] list-none origin-[100%_0%] transition-transform duration-[0.5s] ease-[cubic-bezier(0.77,0.2,0.05,1)] mr-0 mb-0 pt-[125px] p-[50px];
  background: #1c1c1c;
  -webkit-font-smoothing: antialiased;
  /* Changed from '0% 0%' to '100% 0%' */
  transform: translate(100%, 0);
  /* Changed from 'translate(-100%, 0)' to 'translate(100%, 0)' */
}
#menu li {
  @apply text-[22px] px-0 py-2.5;
}
#menuToggle input:checked ~ ul {
  transform: none;
}





}


.bg_head {
  @apply relative h-screen font-thin overflow-y-hidden animate-[fadeIn_1s_ease-out] m-0;
  background: radial-gradient(
    circle,
    rgba(68, 31, 47, 1) 47%,
    rgba(28, 28, 28, 1) 100%
  );
}

.light {
  @apply absolute w-0 opacity-75 bg-[#fb2576] shadow-[#fb2576_0px_0px_20px_2px] opacity-0 m-auto top-0 bottom-1 inset-x-0;
}
.x1 {
  @apply animate-[floatUp_4s_infinite_linear] scale-100;
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
}
.x2 {
  @apply animate-[floatUp_7s_infinite_linear] scale-[1.6] left-[15%];
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
}
.x3 {
  @apply animate-[floatUp_2.5s_infinite_linear] left-[-15%] scale-50;
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
}
.x4 {
  @apply animate-[floatUp_4.5s_infinite_linear] left-[-34%] scale-[1.2];
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.x5 {
  @apply animate-[floatUp_8s_infinite_linear] left-[-57%] scale-[2.2];
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
}
.x6 {
  @apply animate-[floatUp_3s_infinite_linear] left-[-81%] scale-[0.8];
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.x7 {
  @apply animate-[floatUp_5.3s_infinite_linear] scale-[3.2] left-[37%];
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
}
.x8 {
  @apply animate-[floatUp_4.7s_infinite_linear] scale-[1.7] left-[62%];
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
}
.x9 {
  @apply animate-[floatUp_4.1s_infinite_linear] scale-90 left-[85%];
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.reveal {
  @apply animate-[revealText_1s_linear] relative text-7xl select-none cursor-default after:content-[""] after:absolute after:z-10 after:bg-[#fb2576] after:origin-[0_50%] after:pointer-events-none after:scale-x-0 after:inset-0;
}
.reveal:after {
  @apply animate-[revealerText_1s_linear];
}
.reveal,
.reveal:after {
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-duration: 800ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.reveal.purple:after {
  @apply bg-[#b39fff];
}
.reveal.purple,
.reveal.purple:after {
  animation-delay: 0.75s;
}


.head_text {
  @apply absolute top-40 right-40 py-5 text-slate-100 text-5xl max-lg:top-28 max-lg:right-5 max-lg:text-3xl;
}

.head_text h1 {
  @apply py-5 inline-flex font-bold;
}

.head_img img {
  @apply  max-lg:h-[600px] max-lg:w-[600px] ;
}

.verticle_bg {
  @apply -rotate-90 whitespace-nowrap text-7xl -m-28 opacity-50 font-bold;
}

.animated_underline {
  @apply relative after:content-[""] after:absolute after:bottom-[0.25em] after:h-px after:transition-all after:duration-[ease] after:delay-[0.2s] after:inset-x-2/4 hover:after:h-0.5 hover:after:inset-x-0 before:absolute before:-translate-x-full before:text-[#eee] before:opacity-30 before:font-thin before:text-[0.8em] before:-left-2.5;
}
.animated_underline:after {
  background: currentColor;
}


/* Targeting the 'about' class */
.about {
  @apply flex flex-1 justify-between items-center;
}

/* Targeting the first child of the second div inside 'about' class */
.about > div:nth-child(2) > div:nth-child(1) {
  @apply text-5xl font-bold whitespace-nowrap py-5;
}

/* Targeting the second child of the second div inside 'about' class */
.about > div:nth-child(2) > div:nth-child(2) {
  @apply text-3xl font-semibold py-4;
}

/* Targeting the span inside the second div inside 'about' class */
.about > div:nth-child(2) span {
  @apply text-xl font-semibold py-3;
}

/* Targeting the p inside the second div inside 'about' class */
.about > div p {
  @apply text-lg py-2;
}

/* Targeting the span inside p inside the second div inside 'about' class */
.about > div p span {
  @apply animated_underline font-bold;
}

/* Targeting the third child div inside 'about' class */
.about > div:nth-child(3) {
  @apply px-28;
}

.lang_icons {
  @apply p-4 flex flex-wrap justify-between items-center content-between;
}
.lang_icons img {
  @apply flex flex-wrap justify-between items-center content-between;
}
.lang_icons button {
  @apply ml-2 mr-0  ;
}