@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


@font-face {
  font-family: "kano";
  src: url("../assets/font/Kano.otf");
}


@layer components {
.resume_btn,
.resume_btn:link,
.resume_btn:visited {
  @apply text-secondary text-[1.3rem] tracking-widest uppercase min-w-[100px] max-w-[60%] relative transition-all duration-[0.2s] ease-[cubic-bezier(0.455,0.03,0.515,0.955)] mx-auto my-0 border-2 border-solid border-transparent;
}
.resume_btn:after,
.resume_btn:before,
.resume_btn:link:after,
.resume_btn:link:before,
.resume_btn:visited:after,
.resume_btn:visited:before {
  @apply content-[""] absolute left-[-1em] h-[2.24rem] w-0 border transition-[inherit] border-solid border-[#FB2576] -top-0.5;
}
.resume_btn:after,
.resume_btn:link:after,
.resume_btn:visited:after {
  @apply right-[-1em] left-auto;
}
.resume_btn:hover,
.resume_btn:link:hover,
.resume_btn:visited:hover {
  @apply border-[#FB2576];
  transition: border-color 0.2s 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.resume_btn:hover:after,
.resume_btn:hover:before,
.resume_btn:link:hover:after,
.resume_btn:link:hover:before,
.resume_btn:visited:hover:after,
.resume_btn:visited:hover:before {
  @apply transition-all duration-[0.2s] ease-[cubic-bezier(0.455,0.03,0.515,0.955)] -right-0.5;
}
.resume_btn:hover:before,
.resume_btn:link:hover:before,
.resume_btn:visited:hover:before {
  @apply -left-0.5 right-auto;
}

#menuToggle {
  @apply relative z-[1] select-none;
  -webkit-user-select: none;
}

#menuToggle span {
  @apply block w-[33px] h-1 relative z-[1] origin-[4px_0px] mb-[5px] rounded-[3px] bg-primary;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle input {
  @apply block w-full h-full absolute cursor-pointer opacity-0 z-[2];
  /* hide this */
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
#menuToggle input:checked ~ span {
  @apply bg-slate-100;
}

#menuToggle input:checked ~ span {
  @apply opacity-100 rotate-45 translate-x-0.5 -translate-y-px;
}
#menuToggle input:checked ~ span:nth-last-child(3) {
  @apply opacity-0 rotate-0 scale-[0.2];
}
#menuToggle input:checked ~ span:nth-last-child(2) {
  @apply -rotate-45 translate-x-0 -translate-y-px;
}

#menu {
  @apply absolute w-[300px] mt-[-100px] ml-[-150px] list-none origin-[100%_0%] transition-transform duration-[0.5s] ease-[cubic-bezier(0.77,0.2,0.05,1)] mr-0 mb-0 pt-[125px] p-[50px];
  background: #1c1c1c;
  -webkit-font-smoothing: antialiased;
  /* Changed from '0% 0%' to '100% 0%' */
  transform: translate(100%, 0);
  /* Changed from 'translate(-100%, 0)' to 'translate(100%, 0)' */
}
#menu li {
  @apply text-[22px] px-0 py-2.5;
}
#menuToggle input:checked ~ ul {
  transform: none;
}





}


.bg_head {
  @apply relative h-full p-10 font-thin overflow-y-hidden animate-[fadeIn_1s_ease-out] m-0;
  background: rgb(63,0,113);
  background: -moz-radial-gradient(circle, rgba(63,0,113,1) 47%, rgba(28,28,28,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(63,0,113,1) 47%, rgba(28,28,28,1) 100%);
  background: radial-gradient(circle, rgba(63,0,113,1) 47%, rgba(28,28,28,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f0071",endColorstr="#1c1c1c",GradientType=1);
}

.light {
  @apply absolute w-0 opacity-75 bg-[#fb2576] shadow-[#fb2576_0px_0px_20px_2px] opacity-0 m-auto top-0 bottom-1 inset-x-0;
}
.x1 {
  @apply animate-[floatUp_4s_infinite_linear] scale-100;
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
}
.x2 {
  @apply animate-[floatUp_7s_infinite_linear] scale-[1.6] left-[15%];
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
}
.x3 {
  @apply animate-[floatUp_2.5s_infinite_linear] left-[-15%] scale-50;
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -o-transform: scale(0.5);
}
.x4 {
  @apply animate-[floatUp_4.5s_infinite_linear] left-[-34%] scale-[1.2];
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}
.x5 {
  @apply animate-[floatUp_8s_infinite_linear] left-[-57%] scale-[2.2];
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
}
.x6 {
  @apply animate-[floatUp_3s_infinite_linear] left-[-81%] scale-[0.8];
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.x7 {
  @apply animate-[floatUp_5.3s_infinite_linear] scale-[3.2] left-[37%];
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
}
.x8 {
  @apply animate-[floatUp_4.7s_infinite_linear] scale-[1.7] left-[62%];
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
}
.x9 {
  @apply animate-[floatUp_4.1s_infinite_linear] scale-90 left-[85%];
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.reveal {
  @apply animate-[revealText_1s_linear] relative text-7xl select-none cursor-default after:content-[""] after:absolute after:z-10 after:bg-[#fb2576] after:origin-[0_50%] after:pointer-events-none after:scale-x-0 after:inset-0;
}
.reveal:after {
  @apply animate-[revealerText_1s_linear];
}
.reveal,
.reveal:after {
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-duration: 800ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.reveal.purple:after {
  @apply bg-[#b39fff];
}
.reveal.purple,
.reveal.purple:after {
  animation-delay: 0.75s;
}


.head_text {
  @apply absolute top-40 right-40 py-5 text-slate-100 text-5xl max-lg:top-28 max-lg:right-5 max-lg:text-3xl;
}

.head_text h1 {
  @apply py-5 inline-flex font-bold;
}

.head_img img {
  @apply  max-lg:h-[600px] max-lg:w-[600px] ;
}

.verticle_bg {
  @apply -rotate-90 whitespace-nowrap text-7xl -m-28 opacity-50 font-bold text-slate-100 ;
}

.animated_underline {
  @apply relative after:content-[""] after:absolute after:bottom-[0.25em] after:h-px after:transition-all after:duration-[ease] after:delay-[0.2s] after:inset-x-2/4 hover:after:h-0.5 hover:after:inset-x-0 before:absolute before:-translate-x-full before:text-[#eee] before:opacity-30 before:font-thin before:text-[0.8em] before:-left-2.5;
}
.animated_underline:after {
  background: currentColor;
}

.about {
  @apply w-full flex flex-1 justify-between items-center max-lg:flex-col max-lg:pr-24 max-lg:overflow-hidden;
}

.header {
  @apply text-5xl font-bold py-5  text-slate-100;
}

.about > div:nth-child(1) > div:nth-child(2)  {
  @apply text-3xl font-semibold py-4;
}

.about > div {
  @apply w-[inherit];
}

.about > div:nth-child(1) span {
  @apply text-xl font-semibold py-3;
}

.about > div p {
  @apply text-lg py-2;
}

.about > div p span {
  @apply animated_underline font-bold text-primary;
}

.about > div:nth-child(2) {
  @apply px-28;
}

.about_resume{
  @apply px-4 my-10 max-lg:px-7;
}

/* .my_img {
  @apply max-lg:w-fit
} */

.lang_icons {
  @apply p-4 flex flex-wrap justify-around items-center content-between gap-10;
}
.lang_icons img {
  @apply flex flex-wrap justify-between items-center content-between;
}
.lang_icons button {
  @apply ml-2 mr-0  ;
}

.skills {
  @apply w-full flex justify-center items-center flex-col gap-10;
}

.skills .verticle_bg {
  @apply absolute right-36 top-auto bottom-auto rotate-90;
}

.card {
  @apply flex flex-wrap justify-center items-center text-[62.5%];
}
.card_wrap {
  @apply flex flex-wrap justify-center items-center m-10 cursor-pointer ;
  transform-style: preserve-3d;
  transform: perspective(100rem);
}
.card_container {
  @apply w-full h-auto bg-dark_bg text-primary text-center border border-primary flex flex-col justify-center items-center relative bg-[position:var(--bX)_var(--bY)] bg-[40rem_auto] shadow-[0_0_3rem_0.5rem_hsla(0,0%,0%,0.2)] transition-transform duration-[0.6s] delay-[1s] p-16 rounded-[1.6rem] border-solid before:border-l-0 before:border-b-0 before:right-8 before:top-8 after:border-r-0 after:border-t-0 after:left-8 after:bottom-8;
  --rX: 0;
  --rY: 0;
  --bX: 50%;
  --bY: 80%;
  transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
 }
.card_container::before,
.card_container::after {
  @apply content-[""] w-8 h-8 border absolute z-[2] opacity-30 transition-[0.3s] border-solid border-white;
}
.card_container--active {
  @apply transition-none;
}
 /* .card_container--2 {
  @apply mx-5;
} */
/* .card_container--3 {
  @apply hue-rotate-[160deg] saturate-[140%];
} */ 
.card_container h2 {
  @apply text-[hsla(0,0%,100%,0.6)] text-[2.2rem];
}

.card_wrap:hover .card_container::before,
.card_wrap:hover .card_container::after {
  @apply w-[calc(100%_-_4rem)] h-[calc(100%_-_4rem)];
}

.card_container li {
  @apply pt-2 text-2xl;
}


.project-container ul,
.project-container ol {
  @apply m-0 p-0;
  list-style: none;
}
.project-container img {
  @apply w-full max-w-full align-middle;
}
.project-container {
  @apply max-w-[1000px] mx-auto my-[50px] ;
}
.project {
  @apply grid gap-2.5 grid-cols-[repeat(12,1fr)] grid-rows-[repeat(6,1fr)] items-center m-[30px];
}
@media screen and (max-width: 768px) {
  .project {
    @apply items-start;
  }
}
.project-content {
  @apply relative col-[1_/_7] row-span-full z-10;
}
@media (max-width: 600px) {
  .project-content,.project-contenteven {
    @apply col-span-full p-10;
  }
}
.project-content .project-label,.project-contenteven .project-label {
  @apply text-primary font-semibold text-lg;
  font-family: monospace;
}
.project-content .project-title,.project-contenteven .project-title {
  @apply text-[2rem] text-[#eee] mt-2.5 mb-[30px] mx-0;
}
.project-content .project-details,.project-contenteven .project-details {
  @apply text-[15px] leading-normal text-[#aaa];
}
.project-content .project-details p,.project-contenteven .project-details p {
  @apply bg-[#252525] px-[25px] py-5;
}
@media (max-width: 600px) {
  .project-content .project-details p,.project-contenteven .project-details p {
    @apply bg-transparent px-0 py-5;
  }
}
.project-content .project-details ul,.project-contenteven .project-details ul {
  @apply flex mt-5;
}
.project-content .project-details ul li,.project-contenteven .project-details ul li {
  @apply text-[#aaa] mr-5;
  font-family: monospace;
}
.project-img {
  @apply relative col-[6_/_-1] row-span-full rounded-sm before:content-[""] before:absolute before:w-full before:h-full before:z-[3] before:mix-blend-screen before:rounded-sm before:inset-0;
}
@media screen and (max-width: 768px) {
  .project-img,.project-imgeven {
    @apply h-full;
  }
}
@media (max-width: 600px) {
  .project-img,.project-imgeven {
    @apply col-span-full opacity-25;
  }
}
.project-img img,.project-imgeven img {
  @apply relative rounded-sm;
}
@media screen and (max-width: 768px) {
  .project-img img,.project-imgeven img {
    @apply object-cover w-auto h-full;
  }
}

.project-imgeven {
  @apply relative col-[1_/_7] row-span-full z-10 rounded-sm before:content-[""] before:absolute before:w-full before:h-full before:z-[3] before:mix-blend-screen before:rounded-sm before:inset-0;
}

.project-contenteven {
  @apply relative col-[6_/_-1] row-span-full z-10 ;
}

.proj {
  @apply relative w-full flex justify-center items-center gap-10;
}

.proj .verticle_bg {
  @apply absolute left-10 top-auto bottom-auto max-lg:static;
}

.contact {
  @apply w-full flex flex-1 justify-between items-center text-slate-100;
}

.contact > div:nth-child(2) > div:nth-child(2)  {
  @apply text-3xl font-semibold py-4 text-slate-100;
}


.login-box {
  @apply box-border shadow-[0_15px_25px_rgba(0,0,0,0.6)] p-10 rounded-[10px] left-2/4 top-2/4;
  background: rgba(0, 0, 0, 0.5);
}
.login-box h2 {
  @apply text-white text-center mt-0 mb-[30px] mx-0 p-0;
}
.login-box .user-box {
  @apply relative;
}

.login-box .user-box input {
  @apply w-1/2 text-base text-white mb-[30px] px-0 py-2.5 border-b-white border-[none] border-b border-solid;
  outline: none;
  background: transparent;
}
.login-box .user-box textarea {
  @apply w-full text-base text-white mb-[30px] px-0 py-2.5 border-b-white border-[none] border-b border-solid;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  @apply absolute text-base text-white pointer-events-none transition-[0.5s] px-0 py-2.5 left-0 top-0;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label,
.login-box .user-box textarea:focus ~ label,
.login-box .user-box textarea:valid ~ label {
  @apply text-primary text-xs left-0 -top-5;
}
.login-box form a {
  @apply relative inline-block text-primary text-base no-underline uppercase overflow-hidden transition-[0.5s] tracking-[4px] mt-10 px-5 py-2.5;
}
.login-box a:hover {
  @apply text-white shadow-[0_0_5px_#8E05C2,0_0_25px_#8E05C2,0_0_50px_#8E05C2,0_0_100px_#8E05C2] rounded-[5px];
  background: #FB2576;
}
.login-box a span {
  @apply absolute block;
}
.login-box a span:nth-child(1) {
  @apply w-full h-0.5 animate-[btn-anim1_1s_linear_infinite] -left-full top-0;
  background: linear-gradient(90deg, transparent, #8E05C2);
}
.login-box a span:nth-child(2) {
  @apply w-0.5 h-full animate-[btn-anim2_1s_linear_infinite] right-0 -top-full;
  background: linear-gradient(180deg, transparent, #8E05C2);
  animation-delay: 0.25s;
}
.login-box a span:nth-child(3) {
  @apply w-full h-0.5 animate-[btn-anim3_1s_linear_infinite] -right-full bottom-0;
  background: linear-gradient(270deg, transparent, #8E05C2);
  animation-delay: 0.5s;
}
.login-box a span:nth-child(4) {
  @apply w-0.5 h-full animate-[btn-anim4_1s_linear_infinite] left-0 -bottom-full;
  background: linear-gradient(360deg, transparent, #8E05C2);
  animation-delay: 0.75s;
}

.footer {
  @apply flex flex-col justify-around items-center py-10 gap-10;
}

.footer > div:nth-child(1) {
  @apply flex flex-col justify-around items-center py-10 gap-10;
}

.socials {
  @apply w-full flex justify-around items-center;
}